<% include ./partials/header %>
<% include ./partials/navbar %>

<div class="fullback">

<div class="container center">
  <div class="spacer"></div>
  <div class="jumbotron">
    <h1 class="center">Welcome to Node'<b>Doc</b></h2>
    <h3 class="center">The goal of this website is to provide quick rendez-vous to see <b>Doctor X</b></h3>
    <a class="btn btn-warning btn-lg" href="/register"> <i class="fa fa-arrow-right" aria-hidden="true"></i> ASK APPOINTEMENT NOW!</a>
  </div>


  <div class="col-md-4">
    <div class="iconbox">
      <div class="iconbox-icon">
        <span><i class="fa fa-rocket" aria-hidden="true"></i></span>
      </div>
      <div class="featureinfo">
        <h4 class="text-center">SO FAST</h4>
        <p>
          With this new website, take an appointment is <b>sooo fast</b>!
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="iconbox">
      <div class="iconbox-icon">
        <span><i class="fa fa-commenting-o" aria-hidden="true"></i></span>
      </div>
      <div class="featureinfo">
        <h4 class="text-center">DIRECT RESPONSE</h4>
        <p>
          Enought of waiting? <br>Direct response <b>in only 2 minutes</b>!
        </p>

      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="iconbox">
      <div class="iconbox-icon">
        <span><i class="fa fa-smile-o" aria-hidden="true"></i></span>
      </div>
      <div class="featureinfo">
        <h4 class="text-center">IT'S FREE!</h4>
        <p>
          Why to use another paid website when you can have the better here <b>for free</b>!
      </div>
    </div>
  </div>

</div>

</div>

<% include ./partials/footer %>
